@import "tailwindcss";

*, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #5D4037;
    --secondary-color: #F5EFE6;
    --tertiary-color: #8D6E63;
    --color-special: #C9A227;
    --text-color: #FAF8F4;
    --box-shadow: 0px 0px 5px 1px #9c9c9c; 
}

